<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9OA1hYph6txxFtZKUJrD3Wc-fQsceQNA</string>
	<key>GCM_SENDER_ID</key>
	<string>683442076958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parkme.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>park-me-8e6ee</string>
	<key>STORAGE_BUCKET</key>
	<string>park-me-8e6ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683442076958:ios:eb64fc1df6e00132bd1d0f</string>
</dict>
</plist>